<ul class="nav nav-tabs">
    <li routerLinkActive="active"><a routerLink='/picture'>Photo</a></li>    
    <li routerLinkActive="active"><a routerLink='/hour'>Hour</a></li>
    <li routerLinkActive="active"><a routerLink='/12hours'>12 Hours</a></li>
    <li routerLinkActive="active"><a routerLink='/day'>Day</a></li>
    <li routerLinkActive="active"><a routerLink='/week'>Week</a></li>
    <li routerLinkActive="active"><a routerLink='/all-time'>All Time</a></li>
    <li routerLinkActive="active"><a routerLink='/logs'>Logs</a></li>
</ul>
