<div class="container">
    
    <div class="row">
        <div class="col-md-4">
            <app-temperature></app-temperature></div>
        <div class="col-md-4">
            <app-soil-moisture></app-soil-moisture></div>
        <div class="col-md-4">
            <app-humidity></app-humidity></div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-nav></app-nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="/photos/current.png?v={{cacheBuster}}" width="1024" height="768" />
        </div>
    </div>
</div>