<div class="container">
    
    <div class="row">
        <div class="col-md-6">
            <app-temperature></app-temperature>
        </div>
        <div class="col-md-6">
            <app-soil-moisture [instance]="1"></app-soil-moisture>
        </div>
        <!--
        <div class="col-md-4">
            <app-soil-moisture [instance]="2"></app-soil-moisture>
        </div>
        -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-nav></app-nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>    
</div>